body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  color: #000099;
}

h2 {
  color: #000099;
}

h3 {
  color: #000099;
}

a:link {
  color: blue;
}
a:visited {
  color: blue;
}

.box {
  width: 800px;
  margin: 20px auto 50px auto;
  border: 2px solid #000099;
  text-align: justify;  
}

.innerbox {
  padding: 20px 20px 20px 20px;
}

.disclaimer {
  padding: 10px 20px 10px 20px;
  font-size:10pt;
  text-align: center;
}

.footer {
  padding: 10px 40px 10px 40px;
  border-top: 1px solid gray;
  font-size:10pt;
  background-color: #f0f0f0;
}

pre {
  padding: 1em;
  border: 1px dashed gray;
  color: black;
  background-color: #f9f9f9;
  line-height: 1.1em;
}

#navigation {
  text-align: center;
  font-weight:bold;
  background-color:#000099;
  padding: 8px 31px 7px 31px;
  font-size:14pt;
  color:#ffffff;
}

#navigation a {
  text-decoration: none;
  padding: 8px 31px 7px 31px;
  font-size:14pt;
  color:#ffffff;
}

#navigation a:visited, a:active {
  text-decoration: none;
}

#navigation a:hover {
  color: black;
  background-color: #FFFFFF;
  padding-bottom: 8px;
}

.header {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 32px;
}
